﻿<%@ Page Title="Checkout" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Checkout.aspx.cs" Inherits="TagNBag.Checkout" %>


<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %>.</h2>
    <h3>Your application description page.</h3>
    <p>Use this area to provide additional information.</p>

    <%--<head>
        <title><%:Page.Title%> - Tag 'N Bag</title>
    </head>

    <footer>
        <p>&copy; <%: DateTime.Now.Year %> - Tag 'N Bag</p>
    </footer>--%>



</asp:Content>
